[Unit]
Description=ibsrp-sm management

Requires=network-online.target
After=network-online.target
Before=srpd.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/sbin/modprobe ib_srp
ExecStart=/usr/sbin/srp-sm-helper start

ExecStop=/usr/sbin/srp-sm-helper stop
ExecStop=/sbin/modprobe -r ib_srp

[Install]
WantedBy=multi-user.target
