[Unit]
Description=srp_sm_helper starts OpenSM where needed for IB SRP

Requires=network-online.target
After=network-online.target
Before=srpd.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/sbin/srp_sm_helper start
ExecStop=/usr/sbin/srp_sm_helper stop

[Install]
WantedBy=multi-user.target
